
{#{% extends '@bootstrap/system/page.html.twig' %}#}

{# Replace the "main" block in bootstrap's page.html.twig #}
{#{% block main %}#}

<div class="container">
    <div class="above header">
        <div class="green"></div>
        <div class="yellow"></div>
        <div class="row main_header">

            <div class="col-md-9 col-sm-9 col-xs-9 col-lg-9">
                <img class="img" src="{{ base_path ~ 'themes/eketnse/img/nselogo.png' }}">
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                <form action="get" class="left">


                    <input type ="text"name="search" placeholder="search">

                </form>

            </div>
        </div>
        <div class="yellow"></div>
        <div class="green"></div>
    </div>
</div>

<!-- Navigation -->
<div class="container">
    <nav class="navbar">
        <div class="container-fluid">
            {{ page.navigation }}
        </div>
    </nav>
</div>



      <!-- Static navbar -->




<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 ">

                {{ page.section_one }}
            </div>
        </div>

    </div>
</div>

<div class="container">
    <section class="info3">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 ">
                {{ page.section_two }}

            </div>

            <div class="center">
                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4  ">
                    {{ page.section_three }}

                </div>

            </div>

            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4  ">
                {{ page.section_four }}
            </div>

        </div>

    </section>

</div>


<section class ="container short-info1">
    {{ page.section_five}}


</section>
{#<div class="container">#}
    {#<section class="short-info">#}
        {#<div class ="row">#}
            {#<div class="container">#}
                {#<div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 first">#}
                    {#{{ page.shortinfo_first }}#}


                {#</div>#}

                {#<div class="col-md-4 col-sm-4 col-xs-4 col-lg-4  second">#}
                    {#{{ page.shortinfo_second }}#}

                {#</div>#}
                {#<div class="col-md-4 col-sm-4  col-xs-4  col-lg-4  third">#}
                    {#{{ page.shortinfo_third }}#}

                {#</div>#}
            {#</div>#}
        {#</div>#}

    {#</section>#}
{#</div>#}


<div class="container">

    <section class="info2">
        <div class="row">
            {{ page.section_six }}

        </div>

    </section>
</div>
</div>


<div class="container">
    <footer>

        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                {{ page.footer_one }}

            </div>

            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                {{ page.footer_two }}


            </div>

            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                {{ page.footer_three }}

            </div>
        </div>


    </footer>
</div>

<script src="js/jquerry.js"></script>
<script>window.jQuery || document.write('<script src="js/jquerry.js"><\/script>')</script>

<script src="js/bootstrap.js"></script>

</div>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.js"></script>
<script src="js/wow.js"></script>
<script>
    new WOW().INT();
</script>

{#{% endblock %}#}