
{#{% extends '@bootstrap/system/page.html.twig' %}#}

{# Replace the "main" block in bootstrap's page.html.twig #}
{#{% block main %}#}

<div class="container">
    <div class="above header">
        <div class="green"></div>
        <div class="yellow"></div>
        <div class="row main_header">

            <div class="col-md-9 col-sm-9 col-xs-9 col-lg-9">
                <img class="img" src="/eketnse/themes/eketnse/img/nselogo.png">
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                <form action="get" class="left">


                    <input type ="text"name="search" placeholder="search">

                </form>

            </div>
        </div>
        <div class="yellow"></div>
        <div class="green"></div>
    </div>
</div>

<!-- Navigation -->
<div class="container">
    <nav class="navbar">
        <div class="container-fluid">
            {{ page.navigation }}
        </div>
    </nav>
</div>



      <!-- Static navbar -->




<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 ">

                {{ page.section_one }}
            </div>
        </div>

    </div>
</div>

<div class="container">
    <section class="info3">
        <div class="row">
		{{ page.section_two }}
            <h2 class="welcome">NEWS GALOURE</h2>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 ">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-success">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    FOUR EKET NSE MEMBERS MAKE COREN'S ERM TEAM
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p> The federal government through Council for Regulation of Engineering in Nigeria COREN has approved and commenced...
                                    </p>
                                <a href="#">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    PROFESSORIAL INAUGURAL LECTURE OF PROF. ENGR. UMANA THOMPSON ITAKAETO, FNSE
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p> The Nigerian Society of Engineers, Eket Branch was present to celebrate with one of her members, Professor Umana Thompson Itakaeto, FNSE as he ...
                                    <a href="#">read more</a>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-warning">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    ENGR. PROF. UMANA ITAKETO, FNSE, ANNOUNCES HIS PROFESSORIAL INAUGURAL LECTURE
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">

								<div class="media">
	  <div class="media-left">
            <a href="#">
              <img class="media-object img" src="img/man3.jpg" alt="man">
            </a>
	  </div>
	  <div class="media-body">
		<h4 class="media-heading">Media heading</h4>
		...<p>  A prominent Fellow of the Nigerian Society of Engineers, Eket Branch, Engr. Prof. Umana Itaketo, FNSE, has added yet another...</p>
	  </div>
	</div>
                                    <a href="#">read more</a>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-danger">
                        <div class="panel-heading" role="tab" id="headingfour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                    PROFESSORIAL INAUGURAL LECTURE OF PROF. ENGR. UMANA THOMPSON ITAKAETO, FNSE
                                </a>
                            </h4>
                        </div>
                        <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
                            <div class="panel-body">

                                <a href="#">read more</a>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingfive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapseThree">
                                    Collapsible Group Item #3
                                </a>
                            </h4>
                        </div>
                        <div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                <a href="#">read more</a>
                                 </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="center">
                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4  ">
                    <h3> April & November </h3>
                    <h3> Exams </h3>
                    <a href="#" class="btn btn-success btn-small">click for more info</a>
                </div>

            </div>

            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4  ">

                <img class="img" src="img/man3.jpg">
            </div>

    </div>

        </section>

</div>

<div class="container">
    <section class="short-info1">
        <div class="container">
        {{ page.section_two }}
       <!-- <h4><strong> learn about NIGERIAN SOCIETY OF ENGINEERS in one click...</strong></h4>
            <a href="#" class="btn btn-success btn-small">click for more info</a>-->
        </div>
    </section>
</div>

 <div class="container">
    <section class="short-info">
        <div class ="row">
            <div class="container">
             <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 first">
                {{ page.shortinfo_first }}

                <!-- <h2>Heading</h2>
                     <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                   <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			     <h2>Heading</h2>
                 <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
              </div>

                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4  second">
                    {{ page.shortinfo_second }}
                 ,<!--   <h2>Heading</h2>
                      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                      <h2>Heading</h2>
                      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
                </div>
                <div class="col-md-4 col-sm-4  col-xs-4  col-lg-4  third">
                    {{ page.shortinfo_third }}
                   <!-- <h2>Heading</h2>
                      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                      <h2>Heading</h2>
                      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
                </div>
                </div>
        </div>

    </section>
  </div>


    <section class=" container short-info1">

        {{ page.section_three}}

           <!-- <h4><strong> we make the world a better and more comfortable place with technology...</strong></h4>-->

    </section>


<div class="container">

        <section class="info2">
            <div class="row">
                {{ page.section_four }}
              <!--  <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                    <a href="img/photogalleryheader2.jpg" class="thumbnail">

                        <img  src="img/photogalleryheader2.jpg" alt="gallery">
                        <p>See our gallery and videos.</p>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">

                    <a href="img/event.jpg" class="thumbnail">

                        <img  src="img/event.jpg" alt="events">
                        <p> Know our recent and past events.</p>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                    <a href="img/images.png" class="thumbnail">

                        <img  src="img/images.png" alt="membership">
                        <p>Make your payments online here.</p>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                <a href="img/images.png" class="thumbnail">

                    <img  src="img/images.png" alt="membership">
                    <p>Make your payments online here.</p>
                </a>
            </div>-->
            </div>

        </section>
    </div>
</div>


<div class="container">
    <footer>

        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                <ul>
                    <li><a href="#">home</a></li>
                    <li><a href="#">about</a></li>
                    <li><a href="#">contact</a></li>
                    <li><a href="#">services</a></li>
                </ul>
            </div>

			<div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
			    <h3 class="center">Contact Us</h3>
                    <ul>
                       <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span><p>Address: #38 Afaha Uqua Road, Eket, Nigeria</p></li>
                       <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><p>Email: mail@3d-laboratories.com</p></li>
                      <li><span class="glyphicon glyphicon-search" aria-hidden="true"></span><p> follow us on twitter</p></li>
                    </ul>
			</div>

            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                <ul>
                  <li><p>Copyright &copy;2011 Nigerian Society of Engineers, Eket Branch</p></li>
                  <li>  <p>Developed by KodeHauz</p></li>
                </ul>
            </div>
        </div>


    </footer>
</div>
<script src="js/jquerry.js"></script>
<script>window.jQuery || document.write('<script src="js/jquerry.js"><\/script>')</script>

<script src="js/bootstrap.js"></script>

</div>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.js"></script>
<script src="js/wow.js"></script>
<script>
    new WOW().INT();
</script>

{#{% endblock %}#}